<h1>Oh yeahhhh add another Crazy Car</h1>
<%= link_to "home", root_path %>

<%= form_for @new_car do |f| %>
	<!-- <input name> -->
	<%= f.label :make %> 
	<%= f.text_field :make %>
	<br>
	<%= f.label :model %>
	<%= f.text_field :model %>
	<br>
	<%= f.label :year %>
	<%= f.text_field :year %>	
	<br>
	<%= f.label :color %>
	<%= f.text_field :color %>	
	<br>
	<%= f.submit %>

<% end %> 